

*{
  margin: 0;
  padding: 0;
  color:  #fd8a4e;
  box-sizing: border-box;
}
main {
  font-family: 'Goudy Bookletter 1911', serif;
}

.landing{
  min-height: 100vh;
  background: url('./candle.jpg');
  background-size: cover;
  padding: 0rem 5rem;
  text-align: center


}
.big-text {
  position: absolute;
  top: 30;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: 'Goudy Bookletter 1911', serif;
  color: #fd8a4e;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro-text {
  color: #ffe484;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3rem;
}

.hide{
  background: black;
  overflow: hidden;

}

.hide span{
  transform: translateY(100%);
  display: inline-block;

}





/* this is for the color of the usage text. */
.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
